target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.classpath
/bak/

server/dependency-reduced-pom.xml
client/dependency-reduced-pom.xml
/orbien-test/dependency-reduced-pom.xml
/common/dependency-reduced-pom.xml
/core/dependency-reduced-pom.xml
orbiens.log
orbienc.log
/scripts/
.idea
/cert/
orbien.db
orbien.iml
orbien.mv.db
orbien.trace.db
/skills
/console-ui/cursor.md
/data
.cursor
.cursorignore